docker.enabled         = true
process {
    // Process-specific containers
    withName:FASTP_DECONT_RNA {
        container = 'chiamh/meta-omics_main:latest'
    } 
	withName:FASTP_DECONT_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:FASTP_RNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:FASTP_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:DEDUP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:RIBOFILTER {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:BT2ALIGN_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:BT2ALIGN_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:STARALIGN_RNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:DECONT_DNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:DECONT_RNA{
		container = 'chiamh/meta-omics_main:latest'
    }
}
