params {

	//Decontamination References (human or host)
	bwaidx_path					= '/home/ubuntu/volume1/databases/hg38'
	bwaidx						= 'hg38.fa'
	decont_star_index           = '/home/ubuntu/volume1/databases/hg38/STAR_index/GenomeDir'					

    //STAR index for microbial pangenome mapping
    star_index                  = null
	
	//rRNA removal
	ribokmers					= '/home/ubuntu/volume1/databases/ribokmers/ribokmers.fa.gz'
	
	// Bowtie2 pangenome alignment
	bt2_idx_path 					= '/home/ubuntu/volume3/skin_mtx/propan/eight_skin_pangenome_bt2index'
	bt2_idx_name					= 'eight_skin_bact_pangenome_reps'

}
